<?xml version="1.0" encoding="UTF-8"?>
 
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
           id="com.orange.labs.cinedayplugin"
      version="0.1.0">
    <name>HttPRequest</name>
    <description>This plugin allows to make a native http requests, it returns the content and the cookies got after the request</description>
    <license>Private</license>
    <keywords>phonegap,httpRequest</keywords>
 

    
    <js-module src="www/HttpRequest.js" name="HttpRequest">
        <clobbers target="window.httprequest" />
    </js-module>
 
    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="CinedayAndroid">
                <param name="android-package" value="com.orange.labs.plugins.CinedayRequest"/>
            </feature>
        </config-file>
 
        <source-file src="src/HttpRequest.java" target-dir="com/orange/labs/plugins" />      
     </platform>          
</plugin>